Repository Maxentr/Skyjo: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, test, shared, database, web, api

check-biome:
  run: TURBO_UI=0 pnpm dlx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}
  stage_fixed: true

test:
  run: pnpm test:coverage

shared:
  run: pnpm build

database:
  run: pnpm build

web:
  run: pnpm build

api:
  run: pnpm build

feat(web): allow user to change appearance of the website
  apps/web/components/AppearanceSelect.tsx
  apps/web/components/Card.tsx
  apps/web/components/SettingsDialog.tsx
  apps/web/components/ui/select.tsx
  apps/web/contexts/SettingsContext.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: check-biome, test, web

feat(web): allow user to change appearance of the website #49
  apps/web/components/AppearanceSelect.tsx
  apps/web/components/Card.tsx
  apps/web/components/SettingsDialog.tsx
  apps/web/components/ui/select.tsx
  apps/web/contexts/SettingsContext.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: check-biome, test, web

style(web): add translation in AppearanceSelect.tsx
  apps/web/components/AppearanceSelect.tsx
  apps/web/locales/en.json
Due: check-biome, test, web

Translated using Weblate (Spanish)
  apps/web/locales/es.json
Due: check-biome, test, web

Translated using Weblate (French)
  apps/web/locales/fr.json
Due: check-biome, test, web

refactor(api): extract socket server initialization to separate file
  apps/api/src/index.ts
  apps/api/src/initializeSocketServer.ts
  apps/api/src/utils/mailer.ts
  apps/api/vitest.config.ts
Due: check-biome, test, api

refactor (web): remove german and italian languages as there are no translations available
  apps/web/i18n.ts
Due: check-biome, test, web

Translated using Weblate (English)
  apps/web/locales/en.json
Due: check-biome, test, web

refactor(web): update settings if user change locale with url directly
  apps/web/contexts/SettingsContext.tsx
Due: check-biome, test, web

doc: increase size of logo in README.md
  README.md
Due: none

refactor(api): add version to default logger metadata
  apps/api/src/utils/Logger.ts
Due: check-biome, test, api

fix(api): do nothing if first player to finish is null in multiplySchoreForFirstPlayer function in Skyjo.ts
  apps/api/src/class/Skyjo.ts
Due: check-biome, test, api

fix(api): add error catcher in disconnection timeout function
  apps/api/src/services/player.service.ts
Due: check-biome, test, api

refactor(api): update socket server to support webtransport transport method
  apps/api/src/initializeSocketServer.ts
Due: check-biome, test, api

refactor(api): add support for critical error level in CError
  apps/api/src/utils/CError.ts
  apps/api/src/utils/Logger.ts
Due: check-biome, test, api

refactor(api): if player's connection is recovered (socket.io built-in feature) then "reconnect it" to the game
  apps/api/src/routers/player.router.ts
  apps/api/src/services/__tests__/player.service.test.ts
  apps/api/src/services/player.service.ts
Due: check-biome, test, api

refactor(web): add support for Spanish language routes
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/privacy-policy/layout.tsx
  apps/web/app/[locale]/rules/layout.tsx
Due: check-biome, test, web

refactor(api): remove unnecessary assertion in Skyjo.ts
  apps/api/src/class/Skyjo.ts
Due: check-biome, test, api

refactor(api): move default at end of switch/case in Logger.ts
  apps/api/src/utils/Logger.ts
Due: check-biome, test, api

chore(ts-config): add base config for packages
  packages/config/ts/base-package.json
  packages/config/ts/package.json
  packages/core/package.json
  packages/core/tsconfig.json
  packages/database/package.json
  packages/database/tsconfig.json
  packages/error/package.json
  packages/error/tsconfig.json
  packages/logger/package.json
  packages/logger/tsconfig.json
  packages/shared/package.json
  packages/shared/tsconfig.json
  packages/shared/types/socket.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check-biome, test, shared, database

Path conditions:
  check-biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  shared: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^packages/shared/
  database: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^packages/database/
  web: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^apps/web/
  api: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^apps/api/
