Repository Maxentr/Skyjo: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, test, shared, database, web, api

lefthook.yml:

_: # this custom hook is used only to provide the anchor
  commands:
    build: &build
      run: pnpm build
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"

pre-commit:
  parallel: true
  commands:
    check-biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: TURBO_UI=0 pnpm dlx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}
      stage_fixed: true
    test:
      run: pnpm test:coverage
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
    shared:
      <<: *build
      root: "packages/shared/"
    database:
      <<: *build
      root: "packages/database/"
    web:
      <<: *build
      root: "apps/web/"
    api:
      <<: *build
      root: "apps/api/"

chore: add vitest.workspace.ts
  vitest.workspace.ts
Due: check-biome, test

refactor(api): remove unnecessary console.log in player.service.ts
  apps/api/src/services/player.service.ts
Due: check-biome, test, api

fix: rootDir and outDir should be in tsconfig and not in base file
  packages/config/ts/base-package.json
  packages/core/tsconfig.json
  packages/database/tsconfig.json
  packages/error/tsconfig.json
  packages/logger/tsconfig.json
  packages/shared/tsconfig.json
Due: check-biome, test, shared, database

refactor: update @skyjo/database imports
  apps/api/src/db/game.db.ts
  apps/api/src/db/player.db.ts
  apps/api/tests/setup.ts
  packages/core/tests/setup.ts
Due: check-biome, test, api

refactor(shared): remove unused server to client socket event
  packages/shared/types/socket.ts
Due: check-biome, test, shared

feat(api): add events to update game settings one property at a time
  apps/api/src/routers/lobby.router.ts
  apps/api/src/routers/player.router.ts
  apps/api/src/services/__tests__/lobby.service.test.ts
  apps/api/src/services/lobby.service.ts
  apps/web/app/[locale]/game/[code]/lobby/Lobby.tsx
  apps/web/components/GameLobbyButtons.tsx
  apps/web/contexts/SkyjoContext.tsx
  packages/core/src/class/SkyjoSettings.ts
  packages/core/src/class/__tests__/SkyjoSettings.test.ts
  packages/core/src/index.ts
  packages/core/src/validations/changeSettings.ts
  packages/shared/tsconfig.json
  packages/shared/types/events/chat.ts
  packages/shared/types/events/game.ts
  packages/shared/types/events/kick.ts
  packages/shared/types/events/lobby.ts
  packages/shared/types/events/player.ts
  packages/shared/types/events/settings.ts
  packages/shared/types/socket.ts
  packages/shared/validations/updateGameSettings.ts
Due: check-biome, test, shared, web, api

fix(web): socket duplication when returning to lobby
  apps/web/app/[locale]/IndexPage.tsx
  apps/web/contexts/SocketContext.tsx
Due: check-biome, test, web

refactor(logger): update npm_package_version retrieval in env.ts
  packages/logger/env.ts
  packages/logger/src/Logger.ts
Due: check-biome, test

refactor: add .env.api to gitignore
  .gitignore
Due: none

feat(cache): add redis cache package to replace in-memory and postgres
  packages/cache/env.ts
  packages/cache/package.json
  packages/cache/src/client.ts
  packages/cache/src/game.repository.ts
  packages/cache/src/index.ts
  packages/cache/tsconfig.json
  packages/error/src/constants.ts
Due: check-biome, test

refactor(api): update Dockerfile project name to @skyjo/api
  apps/api/Dockerfile
Due: none

refactor(api): use @skyjo/cache instead of store games in-memory + postgres
  apps/api/package.json
  apps/api/src/db/game.db.ts
  apps/api/src/db/player.db.ts
  apps/api/src/services/base.service.ts
  apps/api/src/services/chat.service.ts
  apps/api/src/services/game.service.ts
  apps/api/src/services/kick.service.ts
  apps/api/src/services/lobby.service.ts
  apps/api/src/services/player.service.ts
  package.json
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/SkyjoCard.ts
  packages/core/src/class/SkyjoPlayer.ts
  packages/core/src/types/skyjo.ts
  packages/core/src/types/skyjoCard.ts
  packages/core/src/types/skyjoPlayer.ts
  packages/core/src/types/skyjoSettings.ts
  pnpm-lock.yaml
Due: check-biome, test, api

refactor(web): remove getWinner function and add isAdmin function in skyjo.ts lib
  apps/web/app/[locale]/game/[code]/lobby/InactivityCheck.tsx
  apps/web/app/[locale]/game/[code]/lobby/Lobby.tsx
  apps/web/lib/skyjo.ts
Due: check-biome, test, web

feat : update the way the game state is sent to the client
  apps/api/src/services/__tests__/lobby.service.test.ts
  apps/api/src/services/base.service.ts
  apps/api/src/services/game.service.ts
  apps/api/src/services/kick.service.ts
  apps/api/src/services/lobby.service.ts
  apps/api/src/services/player.service.ts
  apps/api/src/utils/GameStateManager.ts
  apps/web/components/GameLobbyButtons.tsx
  apps/web/contexts/SkyjoContext.tsx
  packages/error/src/constants.ts
  packages/shared/package.json
  packages/shared/tsconfig.json
  packages/shared/types/events/game.ts
  packages/shared/types/events/lobby.ts
  packages/shared/types/events/settings.ts
  packages/shared/types/operation.ts
  packages/shared/utils/applyOperations.ts
Due: check-biome, test, shared, web, api

test(api): mock redis in test instead of in-memory
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/src/services/__tests__/_mock.ts
  apps/api/src/services/__tests__/chat.service.test.ts
  apps/api/src/services/__tests__/game.service.test.ts
  apps/api/src/services/__tests__/kick.service.test.ts
  apps/api/src/services/__tests__/lobby.service.test.ts
  apps/api/src/services/__tests__/player.service.test.ts
  apps/api/tests/setup.ts
Due: check-biome, test, api

fix: env parsing
  apps/api/env.ts
  packages/cache/env.ts
  packages/logger/env.ts
Due: check-biome, test, api

ci: update docker compose.yml
  compose.yml
Due: none

ci(api): use docker compose command
  .github/workflows/deploy-api.yml
Due: none

refactor: rollback XToJson to old way, use SkyjoToDb for redis storage
  packages/cache/src/client.ts
  packages/cache/src/game.repository.ts
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/SkyjoCard.ts
  packages/core/src/class/SkyjoPlayer.ts
  packages/core/src/class/__tests__/SkyjoPlayer.test.ts
  packages/core/src/types/skyjo.ts
  packages/core/src/types/skyjoCard.ts
  packages/core/src/types/skyjoPlayer.ts
Due: check-biome, test

refactor(shared): merge export path
  apps/api/src/index.ts
  apps/api/src/initializeSocketServer.ts
  apps/api/src/routers/chat.router.ts
  apps/api/src/routers/kick.router.ts
  apps/api/src/routers/lobby.router.ts
  apps/api/src/routers/player.router.ts
  apps/api/src/services/__tests__/lobby.service.test.ts
  apps/api/src/services/__tests__/player.service.test.ts
  apps/api/src/services/base.service.ts
  apps/api/src/services/chat.service.ts
  apps/api/src/services/lobby.service.ts
  apps/api/src/services/player.service.ts
  apps/api/src/types/skyjoSocket.ts
  apps/api/src/utils/GameStateManager.ts
  apps/web/app/[locale]/game/[code]/lobby/Lobby.tsx
  apps/web/components/ChatMessage.tsx
  apps/web/components/Feedback.tsx
  apps/web/components/GameLobbyButtons.tsx
  apps/web/contexts/ChatContext.tsx
  apps/web/contexts/SkyjoContext.tsx
  apps/web/contexts/SocketContext.tsx
  packages/cache/src/index.ts
  packages/shared/package.json
  packages/shared/types/events/index.ts
  packages/shared/types/index.ts
  packages/shared/utils/index.ts
  packages/shared/validations/index.ts
Due: check-biome, test, shared, web, api

test(core): cover new functions unit test
  packages/core/src/class/__tests__/Skyjo.test.ts
Due: check-biome, test

build: allow the production script to be run in the monorepo
  turbo.json
Due: check-biome, test

refactor: populate with SkyjoToDb type
  packages/cache/src/game.repository.ts
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/SkyjoPlayer.ts
  packages/core/src/class/SkyjoSettings.ts
  packages/core/src/class/__tests__/Skyjo.test.ts
  packages/core/src/class/__tests__/SkyjoPlayer.test.ts
  packages/core/src/class/__tests__/SkyjoSettings.test.ts
  packages/core/src/types/skyjo.ts
  packages/core/src/types/skyjoPlayer.ts
Due: check-biome, test

fix(web): wrong param in isAdmin inside SkyjoContext.tsx
  apps/web/contexts/SkyjoContext.tsx
Due: check-biome, test, web

refactor(cache): rewrite how eligible games are found
  packages/cache/src/game.repository.ts
Due: check-biome, test

fix(api): updates the game in redis at the end of a round, during a restart or before a player joins the game
  apps/api/src/services/base.service.ts
  apps/api/src/services/player.service.ts
Due: check-biome, test, api

refactor(api): rewrite the "sendX" functions
  apps/api/src/services/base.service.ts
  apps/api/src/services/game.service.ts
  apps/api/src/services/kick.service.ts
  apps/api/src/services/lobby.service.ts
  apps/api/src/services/player.service.ts
Due: check-biome, test, api

refactor(web): delete logs (not errors) in production
  apps/web/contexts/SkyjoContext.tsx
  apps/web/next.config.mjs
Due: check-biome, test, web

fix(api): get the new player with the id instead of the index to avoid an erroneous index between the old and new state and thus delete the wrong player
  apps/api/src/utils/GameStateManager.ts
  packages/shared/types/operation.ts
  packages/shared/utils/applyOperations.ts
Due: check-biome, test, shared, api

fix(web): use game.status instead of status var in Lobby.tsx
  apps/web/app/[locale]/game/[code]/lobby/Lobby.tsx
Due: check-biome, test, web

refactor: reduce size of SkyjoOperation
  apps/api/src/utils/GameStateManager.ts
  packages/shared/types/events/game.ts
  packages/shared/types/operation.ts
  packages/shared/utils/applyOperations.ts
Due: check-biome, test, shared, api

refactor: update DiscardPile title translation key
  apps/web/components/DiscardPile.tsx
Due: check-biome, test, web

remove database package
  package.json
  packages/database/.env.example
  packages/database/drizzle.config.ts
  packages/database/migrations/0000_skinny_invisible_woman.sql
  packages/database/migrations/0001_mature_firelord.sql
  packages/database/migrations/0002_spooky_mandroid.sql
  packages/database/migrations/0003_colorful_alex_wilder.sql
  packages/database/migrations/0004_wet_wither.sql
  packages/database/migrations/meta/0000_snapshot.json
  packages/database/migrations/meta/0001_snapshot.json
  packages/database/migrations/meta/0002_snapshot.json
  packages/database/migrations/meta/0003_snapshot.json
  packages/database/migrations/meta/_journal.json
  packages/database/package.json
  packages/database/src/provider.ts
  packages/database/src/schema.ts
  packages/database/tsconfig.json
  turbo.json
Due: check-biome, test, database

refactor: optimize CoreConstants
  apps/web/components/GameInfo.tsx
  apps/web/components/OpponentBoard.tsx
  apps/web/contexts/SkyjoContext.tsx
  apps/web/contexts/SocketContext.tsx
  packages/core/src/constants.ts
Due: check-biome, test, web

test(api): update environment variables mock in test setup
  apps/api/tests/setup.ts
Due: check-biome, test, api

ci(pr): add core code coverage
  .github/workflows/pull-request-coverage.yml
Due: none

refactor: remove multiple imports
  apps/api/src/services/base.service.ts
  apps/web/components/GameLobbyButtons.tsx
Due: check-biome, test, web, api

refactor(shared): check if findIndex return positive value in updatePlayers applyOperations.ts
  packages/shared/utils/applyOperations.ts
Due: check-biome, test, shared

fix(api): adapt the reconnect feature to the new way of sending the game and new storage
  apps/api/src/services/__tests__/player.service.test.ts
  apps/api/src/services/player.service.ts
  packages/core/src/class/SkyjoPlayer.ts
Due: check-biome, test, api

fix(web): huge words break Chat UI
  apps/web/components/ChatMessageList.tsx
Due: check-biome, test, web
