Repository Maxentr/Skyjo: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, test, shared, database, web, api

check-biome:
  run: TURBO_UI=0 pnpm dlx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}
  stage_fixed: true

test:
  run: pnpm test:coverage

shared:
  run: pnpm build

database:
  run: pnpm build

web:
  run: pnpm build

api:
  run: pnpm build

feat(api): implement rate limiter middleware for API requests
  apps/api/src/http/middlewares/rate-limiter.ts
Due: check-biome, test, api

feat(api): add rate limiting to public games endpoint
  apps/api/src/http/routers/game.router.ts
Due: check-biome, test, api

feat(web): add retry delay for fetching public games in SearchPage component
  apps/web/app/[locale]/(socket)/search/SearchPage.tsx
Due: check-biome, test, web

fix(web): display setting validation warnings in the lobby only for admins
  apps/web/app/[locale]/(socket)/game/[code]/lobby/Lobby.tsx
Due: check-biome, test, web

feat(api): implement socket rate limiting across chat, game, and lobby routers
  apps/api/src/socketio/routers/chat.router.ts
  apps/api/src/socketio/routers/game.router.ts
  apps/api/src/socketio/routers/lobby.router.ts
  apps/api/src/socketio/utils/rate-limiter.ts
  packages/error/src/constants.ts
Due: check-biome, test, api

feat(web): add ads.txt for Google AdSense integration
  apps/web/public/ads.txt
Due: none

chore: update versions to 1.37.0
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/cache/package.json
  packages/config/ts/package.json
  packages/core/package.json
  packages/error/package.json
  packages/logger/package.json
  packages/shared/package.json
Due: check-biome, test, shared, web, api

refactor(api): unify player disconnection logic from leave and kick player functions
  apps/api/src/socketio/services/__tests__/kick.service.test.ts
  apps/api/src/socketio/services/base.service.ts
  apps/api/src/socketio/services/kick.service.ts
  apps/api/src/socketio/services/player.service.ts
Due: check-biome, test, api

feat(web): add onError callback to JoinGameButton component for improved error handling
  apps/web/components/JoinGameButton.tsx
Due: check-biome, test, web

feat(web): retry fetching public games on game join error
  apps/web/app/[locale]/(socket)/search/GamesList.tsx
  apps/web/app/[locale]/(socket)/search/SearchPage.tsx
Due: check-biome, test, web

feat(web): clear gameCode query param on join error from link
  apps/web/components/GameLobbyButtons.tsx
Due: check-biome, test, web

refactor(web): adjust PostHog configuration to exclude card events from tracking
  apps/web/app/[locale]/providers.tsx
  apps/web/components/Card.tsx
Due: check-biome, test, web

Translated using Weblate (Spanish)
  apps/web/locales/es.json
Due: check-biome, test, web

chore: update versions to 1.38.0
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/cache/package.json
  packages/config/ts/package.json
  packages/core/package.json
  packages/error/package.json
  packages/logger/package.json
  packages/shared/package.json
Due: check-biome, test, shared, web, api

feat: implement 'wizz' feature for player interaction
  apps/api/src/socketio/routers/chat.router.ts
  apps/api/src/socketio/services/chat.service.ts
  apps/web/components/ChatForm.tsx
  apps/web/components/ChatMessage.tsx
  apps/web/contexts/ChatContext.tsx
  apps/web/locales/en.json
  apps/web/locales/fr.json
  apps/web/public/sounds/wizz.ogg
  apps/web/tailwind.config.ts
  packages/core/src/constants.ts
  packages/shared/types/events/chat.ts
  packages/shared/validations/chatMessage.ts
Due: check-biome, test, shared, web, api

fix(web): correct conditional rendering for ReconnectGameButton.tsx in GameLobbyButtons.tsx component
  apps/web/components/GameLobbyButtons.tsx
Due: check-biome, test, web

fix(api): change player connection status to disconnected in handlePlayerDisconnection function
  apps/api/src/socketio/services/base.service.ts
Due: check-biome, test, api

feat(web): create dedicated game creation page
  apps/web/app/[locale]/(socket)/create/CreateGameClientLogic.tsx
  apps/web/app/[locale]/(socket)/create/page.tsx
  apps/web/components/CreateGameButton.tsx
  apps/web/contexts/UserContext.tsx
Due: check-biome, test, web

feat(web): enhance PWA manifest and add service worker
  apps/web/app/manifest.ts
  apps/web/public/sw.js
Due: check-biome, test, web

feat(web): update sitemap to include new search and game creation routes
  apps/web/app/sitemap.ts
Due: check-biome, test, web

refactor(web): dynamically generate alternate languages to improve SEO
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/privacy-policy/layout.tsx
  apps/web/app/[locale]/rules/layout.tsx
  apps/web/i18n/routing.ts
Due: check-biome, test, web

feat(web): implement Create and Search layouts with metadata generation; enhance SEO
  apps/web/app/[locale]/(socket)/create/layout.tsx
  apps/web/app/[locale]/(socket)/search/layout.tsx
  apps/web/locales/en.json
  apps/web/locales/fr.json
Due: check-biome, test, web

fix(api): remove a player from a game if it is over
  apps/api/src/socketio/services/__tests__/player.service.test.ts
  apps/api/src/socketio/services/player.service.ts
Due: check-biome, test, api

fix(web): update confirmation message for game settings in Lobby component
  apps/web/app/[locale]/(socket)/game/[code]/lobby/Lobby.tsx
Due: check-biome, test, web

fix(core): Allow admin to modify game settings on reset for replay
  packages/core/src/class/Skyjo.ts
Due: check-biome, test

refactor(web): remove InactivityCheck component and related localization entries
  apps/web/app/[locale]/(socket)/game/[code]/lobby/InactivityCheck.tsx
  apps/web/app/[locale]/(socket)/game/[code]/lobby/page.tsx
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/public/sounds/inactivity.ogg
Due: check-biome, test, web

refactor(api): consolidate single settings update events into game:settings
  apps/api/src/socketio/routers/lobby.router.ts
  apps/api/src/socketio/services/__tests__/lobby.service.test.ts
  apps/api/src/socketio/services/lobby.service.ts
  apps/web/app/[locale]/(socket)/game/[code]/lobby/Lobby.tsx
  apps/web/components/Card.tsx
  apps/web/contexts/SkyjoContext.tsx
  packages/core/src/class/SkyjoSettings.ts
  packages/shared/types/events/settings.ts
  packages/shared/validations/updateGameSettings.ts
Due: check-biome, test, shared, web, api

refactor: rename 'multiplierForFirstPlayer' to 'firstPlayerScorePenaltyMultiplier'
  apps/api/src/socketio/services/__tests__/lobby.service.test.ts
  apps/web/app/[locale]/(socket)/game/[code]/lobby/Lobby.tsx
  apps/web/components/GameRules.tsx
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/SkyjoSettings.ts
  packages/core/src/class/__tests__/Skyjo.test.ts
  packages/core/src/class/__tests__/SkyjoSettings.test.ts
  packages/core/src/constants.ts
  packages/core/src/types/skyjo.ts
  packages/core/src/types/skyjoSettings.ts
  packages/shared/validations/updateGameSettings.ts
Due: check-biome, test, shared, web, api

fix(web): establish socket connection before creating game
  apps/web/app/[locale]/(socket)/create/CreateGameClientLogic.tsx
Due: check-biome, test, web

fix(api): enforce admin privileges for game settings modification and prevent changes when settings are confirmed
  apps/api/src/socketio/services/__tests__/lobby.service.test.ts
  apps/api/src/socketio/services/lobby.service.ts
Due: check-biome, test, api

feat(web): enable admin control over max players in game
  apps/api/src/socketio/services/__tests__/lobby.service.test.ts
  apps/api/src/socketio/services/lobby.service.ts
  apps/web/app/[locale]/(socket)/game/[code]/lobby/Lobby.tsx
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/SkyjoSettings.ts
  packages/core/src/constants.ts
  packages/shared/validations/updateGameSettings.ts
Due: check-biome, test, shared, web, api

refactor(web): default username to "Ano" for /create
  apps/web/components/withAuth.tsx
  apps/web/contexts/UserContext.tsx
Due: check-biome, test, web

style(web): move public game creation to search page header
  apps/web/app/[locale]/(socket)/search/GamesList.tsx
  apps/web/app/[locale]/(socket)/search/SearchHeader.tsx
  apps/web/app/[locale]/(socket)/search/SearchPage.tsx
  apps/web/app/[locale]/(socket)/search/TagsFilter.tsx
  apps/web/locales/en.json
  apps/web/locales/fr.json
Due: check-biome, test, web

refactor(web): open rules dialog instead of redirecting to /rules
  apps/web/app/[locale]/(socket)/RulesButton.tsx
  apps/web/app/[locale]/(socket)/page.tsx
  apps/web/components/Footer.tsx
  apps/web/components/FooterFeedbackLink.tsx
  apps/web/components/FooterRulesLink.tsx
Due: check-biome, test, web

style(web): enhance rules page with logo and call-to-action button
  apps/web/app/[locale]/rules/page.tsx
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
Due: check-biome, test, web

feat(core): add custom penalty for first player
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/SkyjoSettings.ts
  packages/core/src/constants.ts
  packages/core/src/types/skyjoSettings.ts
Due: check-biome, test

refactor: rename 'firstPlayerScorePenaltyMultiplier' to 'firstPlayerMultiplierPenalty'
  apps/api/src/socketio/services/__tests__/lobby.service.test.ts
  apps/web/app/[locale]/(socket)/game/[code]/lobby/Lobby.tsx
  apps/web/components/GameRules.tsx
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/SkyjoSettings.ts
  packages/core/src/class/__tests__/Skyjo.test.ts
  packages/core/src/class/__tests__/SkyjoSettings.test.ts
  packages/core/src/constants.ts
  packages/core/src/types/skyjo.ts
  packages/core/src/types/skyjoSettings.ts
  packages/shared/validations/updateGameSettings.ts
Due: check-biome, test, shared, web, api

refactor(core): change values of 'FIRST_PLAYER_PENALTY_TYPE' and use 'FIRST_PLAYER_PENALTY_TYPE' in 'SKYJO_DEFAULT_SETTINGS'
  packages/core/src/constants.ts
Due: check-biome, test

refactor: rename 'firstPlayerScoreFlatPenalty' to 'firstPlayerFlatPenalty'
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/SkyjoSettings.ts
  packages/core/src/class/__tests__/Skyjo.test.ts
  packages/core/src/class/__tests__/SkyjoSettings.test.ts
  packages/core/src/constants.ts
  packages/core/src/types/skyjo.ts
  packages/core/src/types/skyjoSettings.ts
Due: check-biome, test

refactor: rename 'SKYJO_DEFAULT_SETTINGS' to 'DEFAULT_GAME_SETTINGS'
  apps/web/app/[locale]/(socket)/game/[code]/lobby/Lobby.tsx
  apps/web/contexts/SettingsContext.tsx
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/SkyjoSettings.ts
  packages/core/src/class/__tests__/SkyjoSettings.test.ts
  packages/core/src/constants.ts
  packages/shared/validations/updateGameSettings.ts
Due: check-biome, test, shared, web

Path conditions:
  check-biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  shared: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^packages/shared/
  database: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^packages/database/
  web: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^apps/web/
  api: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^apps/api/
