Repository Maxentr/Skyjo: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, test, shared, database, web, api

lefthook.yml:

_: # this custom hook is used only to provide the anchor
  commands:
    build: &build
      run: pnpm build
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"

pre-commit:
  parallel: true
  commands:
    check-biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: TURBO_UI=0 pnpm dlx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}
      stage_fixed: true
    test:
      run: pnpm test:coverage
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
    shared:
      <<: *build
      root: "packages/shared/"
    database:
      <<: *build
      root: "packages/database/"
    web:
      <<: *build
      root: "apps/web/"
    api:
      <<: *build
      root: "apps/api/"

fix(web): resumes the audio context when interacting with play buttons
  apps/web/components/GameLobbyButtons.tsx
Due: check-biome, test, web

refactor(web): play sound on player reconnect
  apps/web/contexts/ChatContext.tsx
Due: check-biome, test, web

style(web): update placeholder style
  apps/web/components/ui/command.tsx
  apps/web/components/ui/input.tsx
  apps/web/components/ui/select.tsx
  apps/web/components/ui/textarea.tsx
Due: check-biome, test, web

chore(web): transforming avatar images into optimised svg files
  apps/web/components/OpponentBoard.tsx
  apps/web/components/PlayerBoard.tsx
  apps/web/components/SelectAvatar.tsx
  apps/web/components/UserAvatar.tsx
  apps/web/public/avatars/bee.png
  apps/web/public/avatars/bee.svg
  apps/web/public/avatars/crab.png
  apps/web/public/avatars/crab.svg
  apps/web/public/avatars/dog.png
  apps/web/public/avatars/dog.svg
  apps/web/public/avatars/elephant.png
  apps/web/public/avatars/elephant.svg
  apps/web/public/avatars/fox.png
  apps/web/public/avatars/fox.svg
  apps/web/public/avatars/frog.png
  apps/web/public/avatars/frog.svg
  apps/web/public/avatars/koala.png
  apps/web/public/avatars/koala.svg
  apps/web/public/avatars/octopus.png
  apps/web/public/avatars/octopus.svg
  apps/web/public/avatars/penguin.png
  apps/web/public/avatars/penguin.svg
  apps/web/public/avatars/turtle.png
  apps/web/public/avatars/turtle.svg
  apps/web/public/avatars/whale.png
  apps/web/public/avatars/whale.svg
Due: check-biome, test, web

feat(web): add new avatar images
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/public/avatars/eagle.svg
  apps/web/public/avatars/jellyfish.svg
  apps/web/public/avatars/toucan.svg
  packages/core/src/constants.ts
Due: check-biome, test, web

feat(web): avatar attribution added to footer
  apps/web/components/Footer.tsx
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
Due: check-biome, test, web

refactor(web): fix sonar issues about object passed as the value prop to the Context provider changes every render
  apps/web/components/GameLobbyButtons.tsx
  apps/web/components/ui/form.tsx
Due: check-biome, test, web

refactor(web): fix sonar issues
  apps/web/components/GameLobbyButtons.tsx
  apps/web/components/ui/form.tsx
Due: check-biome, test, web

test(api): spy updateGame to get new game state after timeout execute
  apps/api/src/services/__tests__/game.service.test.ts
Due: check-biome, test, api

style(web): reduce meta description of spanish to be less than 160 characters
  apps/web/locales/es.json
Due: check-biome, test, web

refactor(api): store disconnection timeout in playerServices
  apps/api/src/services/__tests__/player.service.test.ts
  apps/api/src/services/player.service.ts
  packages/cache/src/game.repository.ts
Due: check-biome, test, api

refactor(web): remove lastGame if cannot-reconnect and clear server not responded timeout
  apps/web/components/GameLobbyButtons.tsx
  apps/web/contexts/SocketContext.tsx
Due: check-biome, test, web

refactor(web): motion() is deprecated. Change to motion.create()
  apps/web/components/ui/table.tsx
Due: check-biome, test, web

chore: Bump version to 1.33.0
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/cache/package.json
  packages/config/ts/package.json
  packages/core/package.json
  packages/error/package.json
  packages/logger/package.json
  packages/shared/package.json
Due: check-biome, test, shared, web, api

ci(web): update apps name
  .github/workflows/deploy-web.yml
Due: none

ci(api): add docker login to pull package
  .github/workflows/deploy-api.yml
Due: none

chore: bump version to 1.33.1
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/cache/package.json
  packages/config/ts/package.json
  packages/core/package.json
  packages/error/package.json
  packages/logger/package.json
  packages/shared/package.json
Due: check-biome, test, shared, web, api

feat: add Redis Insight service to compose.yml
  compose.yml
Due: none

feat: add proxy env var for redis insight in compose.yml
  compose.yml
Due: none

Revert "feat: add Redis Insight service to compose.yml"
  compose.yml
Due: none

refactor(web): add scroll in ChatMobileView.tsx
  apps/web/components/ChatMobileView.tsx
Due: check-biome, test, web

style(web): fix waiting-opponents-to-turn-cards french typo
  apps/web/locales/fr.json
Due: check-biome, test, web

refactor(api): send to client the recover error if game not found
  apps/api/src/routers/player.router.ts
  apps/api/src/services/__tests__/player.service.test.ts
  apps/api/src/services/player.service.ts
Due: check-biome, test, api

refactor(web): change toast limit to 2
  apps/web/components/ui/toast.tsx
  apps/web/components/ui/use-toast.ts
Due: check-biome, test, web

refactor(web): add recover handling in lobby
  apps/web/contexts/SkyjoContext.tsx
  apps/web/contexts/SocketContext.tsx
  apps/web/locales/en.json
  apps/web/locales/fr.json
  packages/shared/types/events/player.ts
Due: check-biome, test, shared, web

refactor(web): adjust table border thickness in ResultsPage.tsx and table.tsx components
  apps/web/app/[locale]/game/[code]/results/ResultsPage.tsx
  apps/web/components/ui/table.tsx
Due: check-biome, test, web

Translated using Weblate (Spanish)
  apps/web/locales/es.json
Due: check-biome, test, web

style(web): corrected disabling of entry if not admin
  apps/web/app/[locale]/game/[code]/lobby/Lobby.tsx
Due: check-biome, test, web

feat(web): allow user to kick an opponent during the game
  apps/web/app/[locale]/game/[code]/lobby/Lobby.tsx
  apps/web/app/[locale]/game/[code]/results/ResultsPage.tsx
  apps/web/components/OpponentBoard.tsx
  apps/web/components/OpponentsMobileView.tsx
  apps/web/components/UserAvatar.tsx
  apps/web/components/UserContextMenu.tsx
Due: check-biome, test, web

refactor(api): remove unused MAX_GAME_INACTIVE_TIME constant from lobby.service.ts
  apps/api/src/services/lobby.service.ts
Due: check-biome, test, api

feat: enhance player disconnection handling by sending messages
  apps/api/src/services/player.service.ts
  apps/web/components/ChatMessage.tsx
  apps/web/contexts/ChatContext.tsx
  apps/web/locales/en.json
  apps/web/locales/fr.json
  packages/core/src/constants.ts
Due: check-biome, test, web, api

style(web): correct French translation: use of the imperative tone for all game instructions
  apps/web/locales/fr.json
Due: check-biome, test, web

fix(logger): overrides winston's default level because crit did not exist
  packages/logger/src/Logger.ts
Due: check-biome, test

build: update deps, pnpm to 9.12.3 and node to 22.9.0
  .github/workflows/deploy-web.yml
  .github/workflows/pull-request-coverage.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/vitest.config.ts
  apps/web/package.json
  package.json
  packages/cache/package.json
  packages/core/package.json
  packages/core/vitest.config.ts
  packages/error/package.json
  packages/logger/package.json
  pnpm-lock.yaml
Due: check-biome, test, web, api

chore: update .env.example #82
  .env.example
  apps/api/.env.example
  apps/web/.env.example
Due: none

chore: update env file path for API and add Seq service configuration in compose.yml #82
  compose.yml
Due: none

docs: add CONTRIBUTING.md with guidelines for contributing to the project #82
  CONTRIBUTING.md
Due: none

docs: enhance README with project structure, installation guide and how to run the project #82
  README.md
Due: none

docs: update "Installation steps" section in README.md #82
  README.md
Due: none

Revert "refactor(web): change toast limit to 2"
  apps/web/components/ui/toast.tsx
  apps/web/components/ui/use-toast.ts
Due: check-biome, test, web
