Repository Maxentr/Skyjo: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, test, shared, database, web, api

check-biome:
  run: TURBO_UI=0 pnpm dlx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}
  stage_fixed: true

test:
  run: pnpm test:coverage

shared:
  run: pnpm build

database:
  run: pnpm build

web:
  run: pnpm build

api:
  run: pnpm build

bump version to 1.34.0
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/cache/package.json
  packages/config/ts/package.json
  packages/core/package.json
  packages/error/package.json
  packages/logger/package.json
  packages/shared/package.json
Due: check-biome, test, shared, web, api

refactor(api): increase socket server ping interval and decrease ping timeout
  apps/api/src/initializeSocketServer.ts
Due: check-biome, test, api

refactor(logger): improve error handling in SeqTransport
  packages/logger/src/Logger.ts
Due: check-biome, test

fix(api): add second redis update after finishTurn in onReplaceCard and onTurnCard functions in game.service.ts
  apps/api/src/services/game.service.ts
Due: check-biome, test, api

feat: add stateVersion in Skyjo to manage users with outdated or corrupt game versions
  apps/api/src/routers/game.router.ts
  apps/api/src/services/__tests__/game.service.test.ts
  apps/api/src/services/base.service.ts
  apps/api/src/services/game.service.ts
  apps/api/src/utils/GameStateManager.ts
  apps/web/contexts/SkyjoContext.tsx
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/__tests__/Skyjo.test.ts
  packages/core/src/types/skyjo.ts
  packages/core/src/validations/play.ts
  packages/error/src/constants.ts
  packages/shared/types/events/game.ts
Due: check-biome, test, shared, web, api

style(web): fix long chat message overflow for medium+ screen size
  apps/web/components/ChatMessage.tsx
  apps/web/components/ChatMessageList.tsx
Due: check-biome, test, web

style(web): show latest message if mobile chat container is scrollable
  apps/web/components/ChatMobileView.tsx
Due: check-biome, test, web

style(web): corrected french translation of chat notification size in settings
  apps/web/locales/fr.json
Due: check-biome, test, web

refactor(core): add randomization for tie-breaking first player to start in Skyjo.ts class
  packages/core/src/class/Skyjo.ts
Due: check-biome, test

feat: add owl avatar
  apps/web/locales/en.json
  apps/web/locales/fr.json
  apps/web/public/avatars/owl.svg
  packages/core/src/constants.ts
Due: check-biome, test, web

Translated using Weblate (Spanish)
  apps/web/locales/es.json
Due: check-biome, test, web

fix: bug on results page when player quits at end of game
  apps/api/src/services/__tests__/player.service.test.ts
  apps/api/src/services/player.service.ts
  apps/web/app/[locale]/game/[code]/results/ResultsPage.tsx
Due: check-biome, test, web, api

feat(web): add bing verification file
  apps/web/public/wm3mvsymzznhpkiqsyfjc323df6a3d8fb.txt
Due: none

feat(web): add link to latest release on home page
  apps/web/app/[locale]/page.tsx
Due: check-biome, test, web

refactor(api): change reconnectPlayer error if game or player not found
  apps/api/src/services/player.service.ts
Due: check-biome, test, api

refactor(api): enhanced zod error handling
  apps/api/src/routers/lobby.router.ts
  apps/api/src/utils/socketErrorHandlerWrapper.ts
Due: check-biome, test, api

refactor: update socket configuration
  apps/api/src/initializeSocketServer.ts
  apps/web/contexts/SocketContext.tsx
Due: check-biome, test, web, api

refactor(web): redirect user if timeout in lobby
  apps/web/contexts/SkyjoContext.tsx
Due: check-biome, test, web

refactor: allow external connection to redis container in docker compose
  README.md
  compose.yml
Due: none

chore: bump version to 1.35.0
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/cache/package.json
  packages/config/ts/package.json
  packages/core/package.json
  packages/error/package.json
  packages/logger/package.json
  packages/shared/package.json
Due: check-biome, test, shared, web, api

fix(web): fix opponent selection index mismatch #84
  apps/web/components/OpponentsMobileView.tsx
Due: check-biome, test, web

style(web): improve opponent selection UI visibility #84
  apps/web/components/OpponentsMobileView.tsx
  apps/web/components/UserAvatar.tsx
  apps/web/tailwind.config.ts
Due: check-biome, test, web

style(web): add cards preview in the opponents list #84
  apps/web/components/Card.tsx
  apps/web/components/GameInfo.tsx
  apps/web/components/OpponentsMobileView.tsx
  apps/web/components/UserAvatar.tsx
Due: check-biome, test, web

feat(web): add tabs component
  apps/web/components/ui/tabs.tsx
  apps/web/package.json
  pnpm-lock.yaml
Due: check-biome, test, web

refactor(web): use tabs in settings dialog
  apps/web/components/SettingsDialog.tsx
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
Due: check-biome, test, web

chore: update dependencies
  .github/workflows/deploy-web.yml
  .github/workflows/pull-request-coverage.yml
  README.md
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/cache/package.json
  packages/core/package.json
  packages/error/package.json
  packages/logger/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: check-biome, test, shared, web, api

chore(web): update next-intl deps
  apps/web/app/[locale]/MaintenancePage.tsx
  apps/web/app/[locale]/PostHogPageView.tsx
  apps/web/app/[locale]/game/[code]/GamePage.tsx
  apps/web/app/[locale]/game/[code]/lobby/Lobby.tsx
  apps/web/app/[locale]/game/[code]/results/ResultsPage.tsx
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/not-found.tsx
  apps/web/app/[locale]/page.tsx
  apps/web/app/[locale]/privacy-policy/page.tsx
  apps/web/app/[locale]/providers.tsx
  apps/web/app/robots.ts
  apps/web/app/sitemap.ts
  apps/web/components/Footer.tsx
  apps/web/components/GameLobbyButtons.tsx
  apps/web/components/LanguageCombobox.tsx
  apps/web/components/MovingArrow.tsx
  apps/web/components/withAuth.tsx
  apps/web/contexts/SettingsContext.tsx
  apps/web/contexts/SkyjoContext.tsx
  apps/web/contexts/SocketContext.tsx
  apps/web/contexts/VoteKickContext.tsx
  apps/web/i18n.ts
  apps/web/i18n/request.ts
  apps/web/i18n/routing.ts
  apps/web/lib/utils.ts
  apps/web/middleware.ts
  apps/web/navigation.ts
  apps/web/package.json
Due: check-biome, test, web

chore(web): update to next 15 and react 19
  apps/web/app/[locale]/game/[code]/layout.tsx
  apps/web/app/[locale]/game/[code]/lobby/page.tsx
  apps/web/app/[locale]/layout.tsx
  apps/web/app/[locale]/page.tsx
  apps/web/app/[locale]/privacy-policy/layout.tsx
  apps/web/app/[locale]/rules/layout.tsx
  apps/web/components/Card.tsx
  apps/web/global.d.ts
  apps/web/package.json
  apps/web/tsconfig.json
  pnpm-lock.yaml
Due: check-biome, test, web

refactor(web): support light and dark color schemes in themeColor in viewport
  apps/web/app/[locale]/layout.tsx
Due: check-biome, test, web

refactor(web): replace next-pwa with next's pwa support
  .gitignore
  apps/web/.gitignore
  apps/web/app/manifest.ts
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/public/manifest.json
  pnpm-lock.yaml
Due: check-biome, test, web

fix(web): add default settings if not set in local storage during loading
  apps/web/contexts/SettingsContext.tsx
Due: check-biome, test, web

feat(web): add game board size option in display settings #88
  apps/web/components/Card.tsx
  apps/web/components/CardTable.tsx
  apps/web/components/PlayerBoard.tsx
  apps/web/components/SettingsDialog.tsx
  apps/web/contexts/SettingsContext.tsx
  apps/web/locales/en.json
  apps/web/locales/fr.json
Due: check-biome, test, web

build(api): remove dayjs dependency
  apps/api/package.json
  pnpm-lock.yaml
Due: check-biome, test, api

build(web): remove useless packages override
  apps/web/package.json
Due: check-biome, test, web

feat(web): add tooltip with description for multiplier-for-first-player setting
  apps/web/app/[locale]/game/[code]/lobby/Lobby.tsx
  apps/web/components/ui/tooltip.tsx
  apps/web/locales/en.json
  apps/web/locales/fr.json
Due: check-biome, test, web

fix(web): fix translation string for waiting opponents to turn cards
  apps/web/locales/es.json
Due: check-biome, test, web

feat(web): allow users to view game settings during game #89
  apps/web/app/[locale]/game/[code]/GamePage.tsx
  apps/web/components/GameRules.tsx
  apps/web/locales/en.json
  apps/web/locales/fr.json
Due: check-biome, test, web

feat(web): allow the user to toggle the card preview in the opponents list to mobile view
  apps/web/components/OpponentsMobileView.tsx
  apps/web/components/SettingsDialog.tsx
  apps/web/components/ui/tabs.tsx
  apps/web/contexts/SettingsContext.tsx
  apps/web/locales/en.json
  apps/web/locales/fr.json
Due: check-biome, test, web

refactor(web): missing key prop for element in iterator in OpponentItem cards preview
  apps/web/components/OpponentsMobileView.tsx
Due: check-biome, test, web

Path conditions:
  check-biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  shared: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^packages/shared/
  database: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^packages/database/
  web: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^apps/web/
  api: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^apps/api/
