Repository Maxentr/Skyjo: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, test, shared, database, web, api

lefthook.yml:

_: # this custom hook is used only to provide the anchor
  commands:
    build: &build
      run: pnpm build
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"

pre-commit:
  parallel: true
  commands:
    check-biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: TURBO_UI=0 pnpm dlx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}
      stage_fixed: true
    test:
      run: pnpm test:coverage
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
    shared:
      <<: *build
      root: "packages/shared/"
    database:
      <<: *build
      root: "packages/database/"
    web:
      <<: *build
      root: "apps/web/"
    api:
      <<: *build
      root: "apps/api/"

feat(web): add penalty type and flat penalty in the game settings in lobby
  apps/web/app/[locale]/(socket)/game/[code]/lobby/Lobby.tsx
  apps/web/locales/en.json
  apps/web/locales/fr.json
  packages/shared/validations/updateGameSettings.ts
Due: check-biome, test, shared, web

test(core): test checkFirstPlayerPenalty function
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/__tests__/Skyjo.test.ts
Due: check-biome, test

Fix(api): correctly compare basic fields, including dates in GameStateManager.ts
  apps/api/src/socketio/utils/GameStateManager.ts
Due: check-biome, test, api

test(api): update mock for redis service to reflect new method names 'getPublicGames'
  apps/api/src/socketio/services/__tests__/_mock.ts
Due: check-biome, test, api

test(api): add unit tests for GameStateManager
  apps/api/src/socketio/utils/__tests__/GameStateManager.test.ts
Due: check-biome, test, api

fix(api): add force param to handlePlayerDisconnection function to not check if player is still connected
  apps/api/src/socketio/services/base.service.ts
Due: check-biome, test, api

refactor(shared): use native enum for firstPlayerPenaltyType in game settings schema
  apps/web/app/[locale]/(socket)/game/[code]/lobby/Lobby.tsx
  packages/shared/validations/updateGameSettings.ts
Due: check-biome, test, shared, web

fix(api): prevent ghost players after kick
  apps/api/src/socketio/services/__tests__/kick.service.test.ts
  apps/api/src/socketio/services/kick.service.ts
Due: check-biome, test, api

feat(web): prevent accidental game window closure with an alert
  apps/web/contexts/SkyjoContext.tsx
Due: check-biome, test, web

feat(api): implement rate limiting for feedback submissions
  apps/api/src/http/routers/feedback.router.ts
Due: check-biome, test, api

chore(api): exclude socket rate limiter from coverage
  apps/api/vitest.config.ts
Due: check-biome, test, api

refactor(web): rename saveLastGame to addReconnectionDateToLastGame
  apps/web/contexts/SocketContext.tsx
Due: check-biome, test, web

refactor(web): Improve beforeunload handling with game status listener
  apps/web/contexts/SkyjoContext.tsx
Due: check-biome, test, web

refactor(api): rename rate limiter utility files for consistency
  apps/api/src/http/middlewares/rateLimiter.ts
  apps/api/src/http/routers/game.router.ts
  apps/api/src/socketio/routers/chat.router.ts
  apps/api/src/socketio/routers/game.router.ts
  apps/api/src/socketio/routers/lobby.router.ts
  apps/api/src/socketio/utils/rateLimiter.ts
Due: check-biome, test, api

refactor(api): rate limit public games to 5 requests per IP every 8 seconds
  apps/api/src/http/routers/game.router.ts
Due: check-biome, test, api

refactor(web): disable PostHog heatmaps
  apps/web/app/[locale]/providers.tsx
Due: check-biome, test, web

refactor(core): add firstPlayerPenaltyType check in isClassicSettings validation
  packages/core/src/class/SkyjoSettings.ts
Due: check-biome, test

chore: update package versions to 1.40.0
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/cache/package.json
  packages/config/ts/package.json
  packages/core/package.json
  packages/error/package.json
  packages/logger/package.json
  packages/shared/package.json
Due: check-biome, test, shared, web, api

test(api): add onWizz functionality tests for ChatService
  apps/api/src/socketio/services/__tests__/chat.service.test.ts
Due: check-biome, test, api

fix(api): always update admin on player disconnection
  apps/api/src/socketio/services/__tests__/kick.service.test.ts
  apps/api/src/socketio/services/base.service.ts
  packages/core/src/class/Skyjo.ts
Due: check-biome, test, api

fix: display kicked player's username in kick notifications on kick success
  apps/api/src/socketio/services/__tests__/kick.service.test.ts
  apps/api/src/socketio/services/kick.service.ts
  apps/web/contexts/VoteKickContext.tsx
  apps/web/hooks/useKickVoteToasts.tsx
  packages/shared/types/events/kick.ts
Due: check-biome, test, shared, web, api

feat: allow updating max players after settings confirmation
  apps/api/src/socketio/routers/lobby.router.ts
  apps/api/src/socketio/services/__tests__/lobby.service.test.ts
  apps/api/src/socketio/services/lobby.service.ts
  apps/web/app/[locale]/(socket)/game/[code]/lobby/Lobby.tsx
  apps/web/contexts/SkyjoContext.tsx
  packages/core/src/class/SkyjoSettings.ts
  packages/shared/types/events/settings.ts
  packages/shared/validations/updateGameSettings.ts
Due: check-biome, test, shared, web, api

refactor: rename game:settings event to game:update-settings for consistency
  apps/api/src/socketio/routers/lobby.router.ts
  apps/web/contexts/SkyjoContext.tsx
  packages/shared/types/events/settings.ts
Due: check-biome, test, shared, web, api

fix(api): correctly apply penalty for tied scores
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/__tests__/Skyjo.test.ts
Due: check-biome, test

ci(web): add versioning step for Vercel deployment
  .github/workflows/deploy-web.yml
Due: none

chore: update package versions to 1.41.0
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/cache/package.json
  packages/config/ts/package.json
  packages/core/package.json
  packages/error/package.json
  packages/logger/package.json
  packages/shared/package.json
Due: check-biome, test, shared, web, api

refactor(api): Move admin change logic to Skyjo class
  apps/api/src/socketio/services/base.service.ts
  apps/api/src/socketio/services/player.service.ts
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/__tests__/Skyjo.test.ts
Due: check-biome, test, api

refactor: rename method haveAtLeastMinPlayersConnected to hasMinPlayersConnected
  apps/api/src/socketio/services/base.service.ts
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/__tests__/Skyjo.test.ts
Due: check-biome, test, api

refactor(api): simplify game round initiation
  apps/api/src/socketio/services/__tests__/game.service.test.ts
  apps/api/src/socketio/services/__tests__/player.service.test.ts
  apps/api/src/socketio/services/base.service.ts
  apps/api/src/socketio/services/game.service.ts
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/__tests__/Skyjo.test.ts
Due: check-biome, test, api

refactor: replace game status checks with dedicated methods
  apps/api/src/socketio/services/__tests__/game.service.test.ts
  apps/api/src/socketio/services/__tests__/lobby.service.test.ts
  apps/api/src/socketio/services/__tests__/player.service.test.ts
  apps/api/src/socketio/services/base.service.ts
  apps/api/src/socketio/services/game.service.ts
  apps/api/src/socketio/services/lobby.service.ts
  apps/api/src/socketio/services/player.service.ts
  packages/cache/src/game.repository.ts
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/__tests__/Skyjo.test.ts
Due: check-biome, test, api

refactor: update round status constant from WAITING_PLAYERS_TO_TURN_INITIAL_CARDS to TURNING_INITIAL_CARDS
  apps/api/src/socketio/services/__tests__/game.service.test.ts
  apps/api/src/socketio/services/__tests__/lobby.service.test.ts
  apps/api/src/socketio/services/__tests__/player.service.test.ts
  apps/api/src/socketio/services/base.service.ts
  apps/api/src/socketio/services/game.service.ts
  apps/web/components/GameInfo.tsx
  apps/web/components/PlayerBoard.tsx
  apps/web/lib/skyjo.ts
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/__tests__/Skyjo.test.ts
  packages/core/src/constants.ts
Due: check-biome, test, web, api

refactor: update round status from PLAYING to MAIN
  apps/api/src/socketio/services/__tests__/game.service.test.ts
  apps/api/src/socketio/services/__tests__/player.service.test.ts
  apps/api/src/socketio/services/game.service.ts
  apps/api/src/socketio/utils/__tests__/GameStateManager.test.ts
  apps/web/app/[locale]/(socket)/game/[code]/GamePage.tsx
  apps/web/components/CardTable.tsx
  apps/web/components/GameInfo.tsx
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/__tests__/Skyjo.test.ts
  packages/core/src/constants.ts
Due: check-biome, test, web, api

refactor: rename "round status" to "round phase"
  apps/api/src/socketio/services/__tests__/game.service.test.ts
  apps/api/src/socketio/services/__tests__/lobby.service.test.ts
  apps/api/src/socketio/services/__tests__/player.service.test.ts
  apps/api/src/socketio/services/base.service.ts
  apps/api/src/socketio/services/game.service.ts
  apps/api/src/socketio/utils/__tests__/GameStateManager.test.ts
  apps/web/app/[locale]/(socket)/game/[code]/GamePage.tsx
  apps/web/components/CardTable.tsx
  apps/web/components/EndRoundDialog.tsx
  apps/web/components/GameInfo.tsx
  apps/web/components/PlayerBoard.tsx
  apps/web/lib/skyjo.ts
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/__tests__/Skyjo.test.ts
  packages/core/src/constants.ts
  packages/core/src/types/skyjo.ts
Due: check-biome, test, web, api

refactor: update round status constant from TURNING_INITIAL_CARDS to TURN_CARDS
  apps/api/src/socketio/services/__tests__/game.service.test.ts
  apps/api/src/socketio/services/__tests__/lobby.service.test.ts
  apps/api/src/socketio/services/__tests__/player.service.test.ts
  apps/api/src/socketio/services/base.service.ts
  apps/api/src/socketio/services/game.service.ts
  apps/web/components/GameInfo.tsx
  apps/web/components/PlayerBoard.tsx
  apps/web/lib/skyjo.ts
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/__tests__/Skyjo.test.ts
  packages/core/src/constants.ts
Due: check-biome, test, web, api

refactor: replace round phase checks with dedicated methods
  apps/api/src/socketio/services/__tests__/game.service.test.ts
  apps/api/src/socketio/services/__tests__/lobby.service.test.ts
  apps/api/src/socketio/services/__tests__/player.service.test.ts
  apps/api/src/socketio/services/base.service.ts
  apps/api/src/socketio/services/game.service.ts
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/__tests__/Skyjo.test.ts
Due: check-biome, test, api

refactor: update game deserialization to use SkyjoDbFormat type
  packages/cache/src/game.repository.ts
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/SkyjoPlayer.ts
  packages/core/src/class/SkyjoSettings.ts
  packages/core/src/class/__tests__/Skyjo.test.ts
  packages/core/src/class/__tests__/SkyjoPlayer.test.ts
  packages/core/src/class/__tests__/SkyjoSettings.test.ts
  packages/core/src/types/skyjo.ts
Due: check-biome, test

refactor(cache): type `game` variable at source in `getGame`
  packages/cache/src/game.repository.ts
Due: check-biome, test

refactor(lobby): adjust input step for score to end game and first player flat penalty
  apps/web/app/[locale]/(socket)/game/[code]/lobby/Lobby.tsx
Due: check-biome, test, web

fix(core): firstPlayerFlatPenalty cannot be greater than scoreToEndGame
  packages/core/src/class/SkyjoSettings.ts
  packages/core/src/class/__tests__/SkyjoSettings.test.ts
Due: check-biome, test

style(web): increase width of first player flat penalty input
  apps/web/app/[locale]/(socket)/game/[code]/lobby/Lobby.tsx
Due: check-biome, test, web
