Repository Maxentr/Skyjo: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, test, shared, database, web, api

check-biome:
  run: TURBO_UI=0 pnpm dlx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}
  stage_fixed: true

test:
  run: pnpm test:coverage

shared:
  run: pnpm build

database:
  run: pnpm build

web:
  run: pnpm build

api:
  run: pnpm build

chore: update Node.js version to 22.10.0 in README and CI workflows
  .github/workflows/deploy-web.yml
  .github/workflows/pull-request-coverage.yml
  README.md
Due: none

chore: update pnpm version to 9.14.4 in README and CI workflows
  .github/workflows/deploy-web.yml
  .github/workflows/pull-request-coverage.yml
  README.md
Due: none

chore: update pull request coverage workflow to exclude weblate branch pattern
  .github/workflows/pull-request-coverage.yml
Due: none

fix(api): handle null client state version in GameService by throwing an error with detailed context
  apps/api/src/services/game.service.ts
  packages/error/src/constants.ts
Due: check-biome, test, api

style(web): adjust top positioning for GameInfo component to improve layout responsiveness
  apps/web/components/GameInfo.tsx
Due: check-biome, test, web

refactor(api): rename socketErrorHandlerWrapper to socketErrorWrapper
  apps/api/src/routers/chat.router.ts
  apps/api/src/routers/game.router.ts
  apps/api/src/routers/kick.router.ts
  apps/api/src/routers/lobby.router.ts
  apps/api/src/routers/player.router.ts
  apps/api/src/services/player.service.ts
  apps/api/src/utils/socketErrorWrapper.ts
  apps/api/vitest.config.ts
Due: check-biome, test, api

Translated using Weblate (Spanish)
  apps/web/locales/es.json
Due: check-biome, test, web

refactor(api): rename isprotectedGame to isPrivateGame in createGame method for clarity
  apps/api/src/services/lobby.service.ts
Due: check-biome, test, api

refactor(web): simplify GameLobbyButtons by splitting each button into separate components
  apps/web/app/[locale]/IndexPage.tsx
  apps/web/components/CreatePrivateGameButton.tsx
  apps/web/components/GameLobbyButtons.tsx
  apps/web/components/GameStoppedDialog.tsx
  apps/web/components/JoinGameButton.tsx
  apps/web/components/ReconnectGameButton.tsx
  apps/web/contexts/UserContext.tsx
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
Due: check-biome, test, web

feat(web): add FindPublicGameButton component for initiating public game search
  apps/web/components/FindPublicGameButton.tsx
Due: check-biome, test, web

chore: bump version to 1.36.0 across all packages
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/cache/package.json
  packages/config/ts/package.json
  packages/core/package.json
  packages/error/package.json
  packages/logger/package.json
  packages/shared/package.json
Due: check-biome, test, shared, web, api

fix(web): disable FindPublicGameButton when socket is not connected
  apps/web/components/FindPublicGameButton.tsx
Due: check-biome, test, web

refactor(api): consolidate game creation and game privacy settings logic
  apps/api/src/routers/lobby.router.ts
  apps/api/src/services/__tests__/lobby.service.test.ts
  apps/api/src/services/lobby.service.ts
  packages/core/src/class/SkyjoSettings.ts
  packages/shared/types/events/lobby.ts
  packages/shared/types/events/settings.ts
  packages/shared/validations/updateGameSettings.ts
Due: check-biome, test, shared, api

perf(web): limit socketContext usage to root and game pages
  apps/web/app/[locale]/(socket)/IndexPage.tsx
  apps/web/app/[locale]/(socket)/game/[code]/GamePage.tsx
  apps/web/app/[locale]/(socket)/game/[code]/layout.tsx
  apps/web/app/[locale]/(socket)/game/[code]/lobby/InactivityCheck.tsx
  apps/web/app/[locale]/(socket)/game/[code]/lobby/page.tsx
  apps/web/app/[locale]/(socket)/game/[code]/page.tsx
  apps/web/app/[locale]/(socket)/game/[code]/results/ResultsPage.tsx
  apps/web/app/[locale]/(socket)/game/[code]/results/page.tsx
  apps/web/app/[locale]/(socket)/layout.tsx
  apps/web/app/[locale]/(socket)/page.tsx
  apps/web/app/[locale]/game/[code]/lobby/Lobby.tsx
  apps/web/app/[locale]/providers.tsx
  apps/web/contexts/SkyjoContext.tsx
Due: check-biome, test, web

refactor(web): remove the ability to update privacy settings in Lobby
  apps/web/app/[locale]/(socket)/game/[code]/lobby/Lobby.tsx
Due: check-biome, test, web

refactor(api): separate Socket.IO API into a dedicated folder for better organization of HTTP REST and Socket.IO endpoints
  apps/api/package.json
  apps/api/src/http/index.ts
  apps/api/src/http/routers/feedback.router.ts
  apps/api/src/http/services/base.service.ts
  apps/api/src/http/services/feedback.service.ts
  apps/api/src/index.ts
  apps/api/src/socketio/index.ts
  apps/api/src/socketio/routers/chat.router.ts
  apps/api/src/socketio/routers/game.router.ts
  apps/api/src/socketio/routers/kick.router.ts
  apps/api/src/socketio/routers/lobby.router.ts
  apps/api/src/socketio/routers/player.router.ts
  apps/api/src/socketio/services/__tests__/_mock.ts
  apps/api/src/socketio/services/__tests__/chat.service.test.ts
  apps/api/src/socketio/services/__tests__/game.service.test.ts
  apps/api/src/socketio/services/__tests__/kick.service.test.ts
  apps/api/src/socketio/services/__tests__/lobby.service.test.ts
  apps/api/src/socketio/services/__tests__/player.service.test.ts
  apps/api/src/socketio/services/base.service.ts
  apps/api/src/socketio/services/chat.service.ts
  apps/api/src/socketio/services/game.service.ts
  apps/api/src/socketio/services/kick.service.ts
  apps/api/src/socketio/services/lobby.service.ts
  apps/api/src/socketio/services/player.service.ts
  apps/api/src/socketio/types/skyjoSocket.ts
  apps/api/src/socketio/utils/GameStateManager.ts
  apps/api/src/socketio/utils/socketErrorWrapper.ts
  apps/api/src/utils/mailer.ts
  apps/api/vitest.config.ts
  packages/cache/src/game.repository.ts
  packages/shared/validations/feedback.ts
Due: check-biome, test, shared, api

refactor: update feedback http api endpoint path from '/feedback' to '/feedbacks'
  apps/api/src/http/routers/feedback.router.ts
  apps/web/components/Feedback.tsx
Due: check-biome, test, web, api

refactor(web): CreatePrivateGameButton to CreateGameButton for public game support
  apps/web/components/CreateGameButton.tsx
  apps/web/components/GameLobbyButtons.tsx
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
Due: check-biome, test, web

feat(api): add game router for public game management
  apps/api/src/http/index.ts
  apps/api/src/http/routers/game.router.ts
  apps/api/src/http/services/game.service.ts
  packages/cache/src/game.repository.ts
  packages/shared/types/http.ts
  packages/shared/types/index.ts
  packages/shared/validations/getPublicGames.ts
  packages/shared/validations/index.ts
Due: check-biome, test, shared, api

refactor(web): enhance create, find and join game buttons components to accept className
  apps/web/components/CreateGameButton.tsx
  apps/web/components/FindPublicGameButton.tsx
  apps/web/components/GameLobbyButtons.tsx
  apps/web/components/JoinGameButton.tsx
Due: check-biome, test, web

refactor(web): redirect to search page on leaving public lobby, otherwise to home
  apps/web/app/[locale]/(socket)/game/[code]/lobby/Lobby.tsx
  apps/web/contexts/SkyjoContext.tsx
  apps/web/locales/en.json
  apps/web/locales/fr.json
Due: check-biome, test, web

build(web): add @tanstack/react-query dependencies
  apps/web/package.json
  pnpm-lock.yaml
Due: check-biome, test, web

feat(web): add SearchPage component for public game search functionality 1/?
  apps/web/app/[locale]/(socket)/search/SearchPage.tsx
  apps/web/app/[locale]/(socket)/search/page.tsx
  apps/web/app/[locale]/providers.tsx
Due: check-biome, test, web

perf: reduce size of png, svg and ico
  apps/web/app/favicon.ico
  apps/web/public/android-chrome-192x192.png
  apps/web/public/android-chrome-512x512.png
  apps/web/public/apple-touch-icon.png
  apps/web/public/favicon-16x16.png
  apps/web/public/favicon-32x32.png
  apps/web/public/mstile-150x150.png
  apps/web/public/og-image.png
  apps/web/public/safari-pinned-tab.svg
  apps/web/public/svg/github.svg
  apps/web/public/svg/logo.svg
  apps/web/public/twitter-image.png
Due: none

style(web): change lobby title to "username's game"
  apps/web/app/[locale]/(socket)/game/[code]/lobby/Lobby.tsx
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
Due: check-biome, test, web

fix(web): disabled findPublicGameButton if no username and save username in the local storage on click
  apps/web/components/FindPublicGameButton.tsx
Due: check-biome, test, web

refactor(api): remove console.log in game.router.ts
  apps/api/src/http/routers/game.router.ts
Due: check-biome, test, api

refactor(api): improve GameRepository for safe retrieval of public games
  packages/cache/src/game.repository.ts
Due: check-biome, test

refactor(web): simplify leave button in Lobby component
  apps/web/app/[locale]/(socket)/game/[code]/lobby/Lobby.tsx
Due: check-biome, test, web

refactor(cache): reduce time to live of public game in lobby to 4 minutes
  packages/cache/src/game.repository.ts
Due: check-biome, test

feat(web): add SearchPage component for public game search functionality 2/2
  apps/api/src/http/services/game.service.ts
  apps/web/app/[locale]/(socket)/search/SearchPage.tsx
  apps/web/components/JoinGameButton.tsx
  apps/web/lib/skyjo.ts
  apps/web/locales/en.json
  apps/web/locales/fr.json
  packages/shared/types/http.ts
Due: check-biome, test, shared, web, api

refactor: fix SonarQube issues
  apps/api/src/http/services/base.service.ts
  apps/api/src/http/services/feedback.service.ts
  apps/api/src/http/services/game.service.ts
  apps/web/app/[locale]/(socket)/search/SearchPage.tsx
  apps/web/components/JoinGameButton.tsx
  packages/shared/types/http.ts
Due: check-biome, test, shared, web, api

refactor(web): reduce number of posthog events
  apps/web/app/[locale]/(socket)/game/[code]/GamePage.tsx
  apps/web/app/[locale]/providers.tsx
  apps/web/components/Card.tsx
Due: check-biome, test, web

style(web): enhance dark mode support in SearchPage component
  apps/web/app/[locale]/(socket)/search/SearchPage.tsx
Due: check-biome, test, web

style(web): update dark mode of tooltip component
  apps/web/components/ui/tooltip.tsx
Due: check-biome, test, web

feat: add settings validation for public games
  apps/api/src/socketio/routers/lobby.router.ts
  apps/api/src/socketio/services/__tests__/lobby.service.test.ts
  apps/api/src/socketio/services/lobby.service.ts
  apps/web/app/[locale]/(socket)/game/[code]/lobby/Lobby.tsx
  apps/web/contexts/SkyjoContext.tsx
  apps/web/locales/en.json
  apps/web/locales/fr.json
  packages/cache/src/game.repository.ts
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/SkyjoSettings.ts
  packages/core/src/class/__tests__/Skyjo.test.ts
  packages/core/src/class/__tests__/SkyjoSettings.test.ts
  packages/core/src/types/skyjo.ts
  packages/core/src/types/skyjoSettings.ts
  packages/shared/types/events/settings.ts
Due: check-biome, test, shared, web, api

feat: enhance public game search functionality with tags filtering
  apps/api/src/http/services/game.service.ts
  apps/web/app/[locale]/(socket)/search/GameTag.tsx
  apps/web/app/[locale]/(socket)/search/GamesList.tsx
  apps/web/app/[locale]/(socket)/search/SearchHeader.tsx
  apps/web/app/[locale]/(socket)/search/SearchPage.tsx
  apps/web/app/[locale]/(socket)/search/TagsFilter.tsx
  apps/web/locales/en.json
  apps/web/locales/fr.json
  packages/core/src/class/SkyjoSettings.ts
  packages/core/src/class/__tests__/SkyjoSettings.test.ts
  packages/shared/types/http.ts
Due: check-biome, test, shared, web, api

refactor(web): fix SonarQube issues
  apps/web/app/[locale]/(socket)/search/GamesList.tsx
  apps/web/app/[locale]/(socket)/search/TagsFilter.tsx
Due: check-biome, test, web

fix: do not log if first time to get the game with stateVersion as null
  apps/api/src/socketio/routers/game.router.ts
  apps/api/src/socketio/services/game.service.ts
  apps/web/contexts/SkyjoContext.tsx
  packages/shared/types/events/game.ts
Due: check-biome, test, shared, web, api

chore(api): add rate-limiter-flexible dependency
  apps/api/package.json
  pnpm-lock.yaml
Due: check-biome, test, api

Path conditions:
  check-biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  shared: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^packages/shared/
  database: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^packages/database/
  web: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^apps/web/
  api: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} and ^apps/api/
