Repository Maxentr/Skyjo: changes, and which lefthook commands are due for each by the changed paths.
All: check-biome, test, shared, database, web, api

lefthook.yml:

_: # this custom hook is used only to provide the anchor
  commands:
    build: &build
      run: pnpm build
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"

pre-commit:
  parallel: true
  commands:
    check-biome:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: TURBO_UI=0 pnpm dlx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true --write {staged_files}
      stage_fixed: true
    test:
      run: pnpm test:coverage
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
    shared:
      <<: *build
      root: "packages/shared/"
    database:
      <<: *build
      root: "packages/database/"
    web:
      <<: *build
      root: "apps/web/"
    api:
      <<: *build
      root: "apps/api/"

feat(web): enhance first player penalty display in game rules
  apps/web/components/GameRules.tsx
  apps/web/locales/en.json
  apps/web/locales/fr.json
Due: check-biome, test, web

Update translation files
  apps/web/locales/es.json
Due: check-biome, test, web

refactor: move state operations functions in @skyjo/state-operations package
  apps/api/package.json
  apps/api/src/socketio/utils/GameStateManager.ts
  apps/web/contexts/SkyjoContext.tsx
  apps/web/package.json
  packages/contexts/src/chat/ChatContext.tsx
  packages/shared/package.json
  packages/shared/types/events/game.ts
  packages/shared/types/index.ts
  packages/shared/utils/index.ts
  packages/state-operations/package.json
  packages/state-operations/src/apply.ts
  packages/state-operations/src/create.ts
  packages/state-operations/src/index.ts
  packages/state-operations/src/types.ts
  packages/state-operations/tsconfig.json
  pnpm-lock.yaml
Due: check-biome, test, shared, web, api

fix(api): increment stateVersion on state changes and update tests
  apps/api/src/socketio/utils/GameStateManager.ts
  apps/api/src/socketio/utils/__tests__/GameStateManager.test.ts
Due: check-biome, test, api

fix(state-operations): use type instead of interface for PlayerUpdate
  packages/state-operations/src/types.ts
Due: check-biome, test

chore: add launch configuration for debugging API in development mode
  .vscode/launch.json
Due: check-biome, test

fix(state-operations): improve state change detection logic
  packages/state-operations/src/create.ts
Due: check-biome, test

chore: update API debug launch configuration
  .vscode/launch.json
Due: check-biome, test

feat(cache): implement game state versioning and retrieval
  packages/cache/package.json
  packages/cache/src/game.repository.ts
  pnpm-lock.yaml
Due: check-biome, test

feat: use new game state versioning and retrieval
  apps/api/src/socketio/services/__tests__/game.service.test.ts
  apps/api/src/socketio/services/__tests__/lobby.service.test.ts
  apps/api/src/socketio/services/__tests__/player.service.test.ts
  apps/api/src/socketio/services/base.service.ts
  apps/api/src/socketio/services/game.service.ts
  apps/api/src/socketio/services/lobby.service.ts
  apps/api/src/socketio/services/player.service.ts
  apps/web/contexts/SkyjoContext.tsx
  packages/shared/types/events/game.ts
Due: check-biome, test, shared, web, api

refactor: fix sonar errors
  apps/api/src/socketio/services/__tests__/game.service.test.ts
  apps/api/src/socketio/services/__tests__/lobby.service.test.ts
  apps/api/src/socketio/services/__tests__/player.service.test.ts
  apps/api/src/socketio/services/game.service.ts
  apps/api/src/socketio/utils/__tests__/GameStateManager.test.ts
Due: check-biome, test, api

style(web): fix french typo
  apps/web/locales/fr.json
Due: check-biome, test, web

chore: update package versions to 1.42.0
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/cache/package.json
  packages/config/ts/package.json
  packages/core/package.json
  packages/error/package.json
  packages/logger/package.json
  packages/shared/package.json
  packages/state-operations/package.json
Due: check-biome, test, shared, web, api

ci: update Vercel env command to remove --yes flag
  .github/workflows/deploy-web.yml
Due: none

feat(web): add Discord server link to homepage and footer
  apps/web/app/[locale]/(socket)/page.tsx
  apps/web/components/Footer.tsx
  apps/web/public/svg/discord.svg
Due: check-biome, test, web

refactor: remove feedback feature and related components. Replacement by a discord link
  apps/api/.env.example
  apps/api/env.ts
  apps/api/package.json
  apps/api/src/http/index.ts
  apps/api/src/http/routers/feedback.router.ts
  apps/api/src/http/services/feedback.service.ts
  apps/web/app/[locale]/privacy-policy/page.tsx
  apps/web/app/[locale]/providers.tsx
  apps/web/components/Feedback.tsx
  apps/web/components/Footer.tsx
  apps/web/components/FooterFeedbackLink.tsx
  apps/web/components/MenuDropdown.tsx
  apps/web/contexts/FeedbackContext.tsx
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/public/svg/discord-outline.svg
  packages/shared/validations/feedback.ts
  packages/shared/validations/index.ts
  pnpm-lock.yaml
Due: check-biome, test, shared, web, api

fix(cache): improve game state and key management in Redis repository
  packages/cache/src/game.repository.ts
Due: check-biome, test

refactor(cache): reduce TTL for game states to 2 mins
  packages/cache/src/game.repository.ts
Due: check-biome, test

chore: update package versions to 1.42.1
  apps/api/package.json
  apps/web/package.json
  package.json
  packages/cache/package.json
  packages/config/ts/package.json
  packages/core/package.json
  packages/error/package.json
  packages/logger/package.json
  packages/shared/package.json
  packages/state-operations/package.json
Due: check-biome, test, shared, web, api

perf(cache): optimize game removal and Redis key deletion
  apps/api/src/socketio/services/base.service.ts
  apps/api/src/socketio/services/player.service.ts
  packages/cache/src/game.repository.ts
Due: check-biome, test, api

refactor(web): simplify game lobby and socket interactions
  apps/web/app/[locale]/(socket)/create/CreateGameClientLogic.tsx
  apps/web/app/[locale]/(socket)/search/GamesList.tsx
  apps/web/app/[locale]/(socket)/search/SearchHeader.tsx
  apps/web/app/[locale]/(socket)/search/TagsFilter.tsx
  apps/web/components/CreateGameButton.tsx
  apps/web/components/FindPublicGameButton.tsx
  apps/web/components/GameLobbyButtons.tsx
  apps/web/components/JoinGameButton.tsx
  apps/web/components/ReconnectGameButton.tsx
  apps/web/components/ui/use-toast.ts
  apps/web/contexts/SkyjoContext.tsx
  apps/web/contexts/SocketContext.tsx
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/utils/game.ts
  apps/web/utils/reconnection.ts
Due: check-biome, test, web

Update translation files
  apps/web/locales/fr.json
Due: check-biome, test, web

refactor(constants): rename CONNECTION_STATUS.CONNECTION_LOST to CONNECTION_STATUS.LOST
  apps/api/src/socketio/services/__tests__/player.service.test.ts
  apps/api/src/socketio/services/player.service.ts
  apps/api/src/socketio/utils/__tests__/GameStateManager.test.ts
  apps/web/components/OpponentBoard.tsx
  packages/core/src/constants.ts
Due: check-biome, test, web, api

refactor(api): player connection no longer affects their position in the game
  apps/api/src/socketio/routers/player.router.ts
  apps/api/src/socketio/services/__tests__/player.service.test.ts
  apps/api/src/socketio/services/player.service.ts
  apps/web/components/ChatMessage.tsx
  apps/web/contexts/ChatContext.tsx
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  apps/web/utils/reconnection.ts
  packages/core/src/constants.ts
  packages/shared/constants.ts
Due: check-biome, test, shared, web, api

refactor: remove disconnection timeout and related logic
  apps/api/src/socketio/services/__tests__/player.service.test.ts
  apps/api/src/socketio/services/player.service.ts
  apps/web/components/ChatMessage.tsx
  apps/web/contexts/ChatContext.tsx
  apps/web/locales/en.json
  apps/web/locales/es.json
  apps/web/locales/fr.json
  packages/core/src/constants.ts
  packages/shared/constants.ts
Due: check-biome, test, shared, web, api

chore(api): add BullMQ to API package dependencies
  apps/api/package.json
  pnpm-lock.yaml
Due: check-biome, test, api

feat(api): create BaseQueueService for BullMQ job queue management
  apps/api/src/socketio/services/BaseQueueService.ts
Due: check-biome, test, api

feat(api): add SocketManager utility
  apps/api/env.ts
  apps/api/src/socketio/index.ts
  apps/api/src/socketio/services/SocketManager.ts
  apps/api/src/socketio/services/base.service.ts
  apps/api/src/socketio/services/game.service.ts
  apps/api/src/socketio/services/lobby.service.ts
  apps/api/src/socketio/services/player.service.ts
Due: check-biome, test, api

Added translation using Weblate (Breton)
  apps/web/locales/br.json
Due: check-biome, test, web

Translated using Weblate (Breton)
  apps/web/locales/br.json
Due: check-biome, test, web

Revert "feat(api): add SocketManager utility"
  apps/api/env.ts
  apps/api/src/socketio/index.ts
  apps/api/src/socketio/services/SocketManager.ts
  apps/api/src/socketio/services/base.service.ts
  apps/api/src/socketio/services/game.service.ts
  apps/api/src/socketio/services/lobby.service.ts
  apps/api/src/socketio/services/player.service.ts
Due: check-biome, test, api

refactor(api): don't queue user message and wizz
  apps/api/src/socketio/services/chat.service.ts
Due: check-biome, test, api

refactor(api): wait update and game send before continue
  apps/api/src/socketio/services/base.service.ts
  apps/api/src/socketio/services/game.service.ts
  apps/api/src/socketio/services/lobby.service.ts
  apps/api/src/socketio/services/player.service.ts
Due: check-biome, test, api

refactor: move revealCard logic in Skyjo class
  apps/api/src/socketio/services/game.service.ts
  packages/core/src/class/Skyjo.ts
Due: check-biome, test, api

feat(core): add AFK tracking
  packages/core/src/class/Skyjo.ts
  packages/core/src/class/SkyjoPlayer.ts
  packages/core/src/types/skyjo.ts
Due: check-biome, test
